
@model IEnumerable<demomvc.Models.Factura>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>Dependiendo el rol que cumpla tu usuario dentro de la empresa se visualizaran ciertos botones. </h4>
<center>
    <a class="btn btn-primary" href="RegistrarFactura">REGISTRAR FACTURA</a>
    <a class="btn btn-primary" href="ModificarFactura">MODIFICAR FACTURA</a>
    <a class="btn btn-primary" href="EliminarFactura">ELIMINAR FACTURA</a>
</center>
<br><br>

<form asp-controller="Facturas" asp-action="Facturas">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoFactura)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoFactura)
            </td>
            <td>
                <a asp-action="Facturas" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>