@model demomvc.Models.Factura

@{
    ViewData["Title"] = "Registro";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarFactura">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CodigoFactura" class="control-label">Código de la Factua: </label>
                <input asp-for="CodigoFactura" class="form-control" />
                <span asp-validation-for="CodigoFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacaTracto" class="control-label">Placa del Tracto</label>
                <input asp-for="PlacaTracto" class="form-control" />
                <span asp-validation-for="PlacaTracto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacaCarreta" class="control-label">Placa de la Carreta</label>
                <input asp-for="PlacaCarreta" class="form-control" />
                <span asp-validation-for="PlacaCarreta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoConductor" class="control-label">Codigo del Conductor</label>
                <input asp-for="CodigoConductor" class="form-control" />
                <span asp-validation-for="CodigoConductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origen" class="control-label">Origen del Transporte</label>
                <input asp-for="Origen" class="form-control" />
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label">Fecha de Salida:</label>
                <input asp-for="FechaSalida" type= "Date" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label">Destino del Transporte: </label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDestino"  class="control-label">Fecha de LLegada:</label>
                <input asp-for="FechaDestino" type= "Date" class="form-control" />
                <span asp-validation-for="FechaDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoCarga" class="control-label">Codigo de la Carga: </label>
                <input asp-for="CodigoCarga"  class="form-control" />
                <span asp-validation-for="CodigoCarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntregaDocumento" class="control-label">Fecha de Documentos Entregados: </label>
                <input asp-for="FechaEntregaDocumento" type= "Date" class="form-control" />
                <span asp-validation-for="FechaEntregaDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoFacturado" class="control-label">Monto Facturado: </label>
                <input asp-for="MontoFacturado"   class="form-control" />
                <span asp-validation-for="MontoFacturado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado :</label>
                <select asp-for="Estado" class="form-control" >
                    <option value="volvo">Pendiente</option>
                    <option value="saab">Cancelado</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCobrado" class="control-label">Fecha Que fue Cobrado:</label>
                <input asp-for="FechaCobrado" type= "Date"  class="form-control" />
                <span asp-validation-for="FechaCobrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoCobrado" class="control-label">Monto Cobrado:</label>
                <input asp-for="MontoCobrado" class="form-control" />
                <span asp-validation-for="MontoCobrado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="RegistrarFactura" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Empresa">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}