@model IEnumerable<demomvc.Models.Empresa>

    <img src="~/images/trailer1.jpg" border="1" alt="Este es el ejemplo de un texto alternativo" width="400" height="300">

@foreach (var item in Model) {
    <h1> @Html.DisplayFor(modelItem => item.Nombre) </h1>
}

<br><br><br>

