@model IEnumerable<demomvc.Models.Empresa>
<form asp-controller="Empresas" asp-action="Empresa">
						Confirmar Usuario <input type="text "name="Gerente" class="form-control"aria-describedby="sizing-addon1" required>
<input class="btn btn-success" type="submit" value="Confirmar" />
					
					
					
				</form>