<form asp-controller="Empresas" asp-action="Empresa">
						<input type="text "name="Gerente" class="form-control"aria-describedby="sizing-addon1" required>

					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Confirmar</button>
					
					
				</form>