@model IEnumerable<demomvc.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Usuarios</h2>

<form asp-controller="Usuarios" asp-action="Usuarios">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Usuarios" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>