@model IEnumerable<demomvc.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Usuarios</h2>
<br><br><br>
<a class="btn btn-success" href="Conductores">VER SOLO CONDUCTORES</a>
<center>
<table class="table-bordered table-hover">
    <thead>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Usu)&nbsp;&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Nombre)&nbsp;&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Apellidos)&nbsp;&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Celular)&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Usu)</td>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
            <td>@Html.DisplayFor(modelItem => item.Celular)</td>
        </tr>
}
    </tbody>
</table>
<center>