<h1>Certificaciones</h1>






Certificación que sin duda  es un reconocimiento 
importante para nuestros colaboradores, quienes 
son los encargados de ejecutar los sistemas de 
gestión y que colocan a la compañía a la 
vanguardia de otras empresas  a nivel  
internacional.
Los palés más populares y utilizados son el europeo y el americano.
El europeo tiene unas dimensiones de 1200 mm x 800 mm, mientras que las medidas del palé americano son de 1200 mm x 1000 mm.
Como son modelos muy extendidos, hay estanterías que se adaptan a sus medidas, por lo que no habrá problema luego para colocarlos en el almacén.
Los palés más populares y utilizados son el europeo y el americano.
El europeo tiene unas dimensiones de 1200 mm x 800 mm, mientras que las medidas del palé americano son de 1200 mm x 1000 mm.
Como son modelos muy extendidos, hay estanterías que se adaptan a sus medidas, por lo que no habrá problema luego para colocarlos en el almacén.
Los palés más populares y utilizados son el europeo y el americano.
El europeo tiene unas dimensiones de 1200 mm x 800 mm, mientras que las medidas del palé americano son de 1200 mm x 1000 mm.
Como son modelos muy extendidos, hay estanterías que se adaptan a sus medidas, por lo que no habrá problema luego para colocarlos en el almacén.

Certificaciones que sin duda es un re



<div>
    <img src="http://www.hagemsa.com/wp-content/uploads/2017/08/ANTAMINA.jpg"

</div>

