<h1>NUESTRAS UNIDADES</h1>



En Mas Logistics contamos con unidades de 
última generación. Todo nuestros vehículos 
cuentan con conductores capacitados y están 
equipados con teléfonos celulares interconectados 
con nuestras oficinas y GPS para la ubicación inmediata.

En Mas Logistics contamos con unidades de 
última generación. Todo nuestros vehículos 
cuentan con conductores capacitados y están 
equipados con teléfonos celulares interconectados 
con nuestras oficinas y GPS para la ubicación inmediata.

En Mas Logistics contamos con unidades de 
última generación. Todo nuestros vehículos 
cuentan con conductores capacitados y están 
equipados con teléfonos celulares interconectados 
con nuestras oficinas y GPS para la ubicación inmediata.

En Mas Logistics contamos con unidades de 
última generación. Todo nuestros vehículos 
cuentan con conductores capacitados y están 
equipados con teléfonos celulares interconectados 
con nuestras oficinas y GPS para la ubicación inmediata.

<h1>NUESTRAS UNIDADES</h1>


<div>
    <img src="http://desmontesaltea.e.telefonica.net/images/fotos%20camion/paraindex.jpg">
</div>


<div>
    <img src="http://desmontesaltea.e.telefonica.net/images/fotos%20camion/paraindex.jpg">
</div>


<div>
    <img src="http://desmontesaltea.e.telefonica.net/images/fotos%20camion/paraindex.jpg">
</div>


<div>
    <img src="https://www.flickr.com/photos/biblioteca-camionera/27960181253/in/photostream/">
</div>


<div>
    <img src="https://www.flickr.com/photos/biblioteca-camionera/28291226410/in/photostream/">
</div>

En Mas Logistics contamos con unidades de 
última generación. Todo nuestros vehículos 
cuentan con conductores capacitados y están 
equipados con teléfonos celulares interconectados 
con nuestras oficinas y GPS para la ubicación inmediata.



Contamos con unidades de última generación.


Contamos con unidades de última generación.


En Mas Logistics contamos con unidades de 
última generación. Todo nuestros vehículos 
cuentan con conductores capacitados y están 
equipados con teléfonos celulares interconectados 
con nuestras oficinas y GPS para la ubicación inmediata.



Contamos con unidades de última generación.


Contamos con unidades de última generación.