@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/b1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <i>Calidad de servicio</i>
                    <a class="btn btn-default" asp-controller="Cuentas" asp-action="Login">
                        CREA TU CUENTA
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/b2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <i> Qué servicios brindamos</i>
                    <a class="btn btn-default" asp-controller="Cuentas" asp-action="Login">
                        CREA TU CUENTA
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/b3.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <i>Se parte de nosotros</i>
                    <a class="btn btn-default" asp-controller="Cuentas" asp-action="Login">
                        CREA TU CUENTA
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/b4.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <i>Realizamos el trabajo a distintos puntos del país.</i>
                    <a class="btn btn-default" asp-controller="Cuentas" asp-action="Login">
                        CREA TU CUENTA
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <center><h1>TRANSPORTES WETZEL</h1></center>
    <div class="col-md-3">
        <h2>QUIÉNES SOMOS</h2>
        
            <h5>Somos una <b>empresa que brinda el servicio de Transportes</b> con una amplísima trayectoria, dedicados a satisfacer a nuestros clientes a través de un <b>gran servicio y una profunda dedicación</b> a nuestra labor. Cuando usted confia en Transportes Wetzel, confía en honestidad, transparencia y excelencia. </h5>
        
    </div>
    <div class="col-md-3">
        <h2>TRAYECTORIA</h2>
        
            <h5><b>Responsabilidad y confianza </b> son tal vez las dos palabras que mejor nos identifican. Llevamos esos valores como bandera para poder ofrecerles tranquilidad en los traslados que requiera hacer. Es por ello que contamos con una cartera de clientes de muchísimos años que siguen confiando en nosotros. </li>
            
        
    </div>
    <div class="col-md-3">
        <h2>QUÉ HACEMOS</h2>
        
            <h5>Nos destacamos de la competencia por ser profesionales responsables. Si usted requiere que el transporte de su mercadería sea completamente <b>seguro, eficaz y rápido</b>, no dude en consultarnos por nuestro servicio. En Transportes Wetzel nos empeñamos por garantizar su satisfacción al respecto.</h5>
         
       
    </div>
    <div class="col-md-3">
        <h2>¿CÓMO CONTACTARNOS?</h2>
        
            <h5><b>Dirección:</b> Calle 17, n° 455, Urbanización Corpac San Isidro, Lima 27 - Perú.</br>
                <b>E-mail:</b> transporteswetzel@gmail.com
                <b>Teléfono:</b> (01) 470 2065// (01) 470 6732</br>
                <b>Horario de atención:</b> Lunes a Viernes de 8:00 hs. a 12:30 hs.
                y de 15:30 hs. a 19:30 hs. 
            </h5>
            
        
    </div>
</div>
