<h1>¿Cuáles serán los retos logísticos relacionados con el ecommerce y los nuevos consumidores?</h1>

<p>31 octubre, 2018</p>

Manel Torres, CEO de MOLDSTOCK, la división logística del Grupo Moldtrans, nos explica las claves 
de la logística actual y el paradigma del “ahora para ahora” en el IV Encuentro Empresarial de Uno 
Logística.
 