@model demomvc.Models.Usuario

@{
    ViewData["Title"] = "";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />
<div>
    <a class="glyphicon glyphicon-arrow-left" asp-action="Login"></a>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label">NOMBRE: </label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label">APELLIDOS:</label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usu" class="control-label">USUARIO: </label>
                <input asp-for="Usu" class="form-control" />
                <span asp-validation-for="Usu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label">CONTRASEÑA: </label>
                <input asp-for="Contraseña" class="form-control" type = "password"/>
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarContraseña" class="control-label">CONFIRMAR CONTRASEÑA: </label>
                <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label">CORREO: </label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarCorreo" class="control-label">CONFIMAR CORREO:</label>
                <input asp-for="ConfirmarCorreo" class="form-control" />
                <span asp-validation-for="ConfirmarCorreo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label">CELULAR: </label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacimiento" class="control-label">FECHA DE NACIMIENTO:</label>
                <input asp-for="Nacimiento" type="date" class="form-control" />
                <span asp-validation-for="Nacimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}