


</div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             
            <div class="form-group"></div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             
            <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             
            <div class="form-group">


Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

Señales de tráfico o señales de tránsito son los signos usados en la vía 
pública para impartir la información1​ necesaria a los usuarios que transitan 
por un camino o carretera, en especial los conductores de vehículos y peatones 
de señales de tránsito.

Tipos de señales
Son las siguientes según su prioridad:
Señales y órdenes de los agentes de circulación
Señalización circunstancial que modifique el régimen normal de 
utilización de la vía y señales de balizamiento fijo
Semáforos
Señales verticales de circulación
Marcas viales
Si se diera el caso de que se encuentran varias señales 
contradictorias, prevalecerá la más prioritaria, y en el caso 
de que sean del mismo grupo, la más restrictiva.

Puesto que las diferencias de idioma pueden crear barreras, 
las muestras internacionales usan símbolos en lugar de palabras. Se han 
desarrollado principalmente en Europa y se han adoptado en la mayoría de los países.

  </div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseña" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">


</div>
             <div class="form-group">
                 <label asp-for="ConfirmarContraseñaa" class="control-label"></label>
                 <input asp-for="ConfirmarContraseña" class="form-control" />
                 <input asp-for="ConfirmarContraseña" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
             </div>
             <div class="form-group">

                 </div>
             <div class="form-group">
                 <label asp-for="ConfirmarCorreooo" class="control-label"></label>
                 <input asp-for="ConfirmarCorreooo" class="form-control" />
                 <input asp-for="ConfirmarCorreooo" class="form-control" type = "password" />
                 <span asp-validation-for="ConfirmarCorreooo" class="text-danger"></span>
             </div>
             <div class="form-group">






